p {
	display: inline-block;
	border: 2px solid black;
	margin: 10px;
	padding: 20px;
}
p.one {
	box-shadow: -5px -5px #777;
	}
p.two {
	box-shadow: 5px 5px 5px #777;
}
p.three {
	box-shadow: 5px 5px 5px 5px #777;
}
p.four {
	box-shadow: 0 0 10px #777;
}
p.five {
	box-shadow: inset 0 0 10px #777;
}
/*box-shadow позволяет создать тень вокруг блока
первый параметр-горизонтальное смещение, если он отрицательный, то тень позиционируется слева от блока
второй параметр-вертикальное смещение-отрицательное значение позиционирует тень над блоком
третий-размытие, если он отсутствует, то тень изображается в виде сплошной линии как граница
для создания внутренней тени можно использовать ключевое слово inset,добавленное перед численными значениями
*/