body {
	background-image: url("magnolia-medium.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
img.align-center {
	display: block;
	margin: 0 auto;
}
img.medium {
	width: 250px;
	height: 250px;
}